<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClothingStore.Properties.Settings.ClothingStoreManagementConnectionString"
            connectionString="Data Source=DESKTOP-30B6PI4\SQLEXPRESS;Initial Catalog=ClothingStoreManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>